@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&family=Ubuntu:wght@300;400&display=swap");
/* 
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Mono', monospace;

*/
.abilitesContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: #ffb86c;
  flex-direction: column;
}

.abilitesContainer h1 {
  color: #282a36;
  font-family: "Ubuntu Mono", monospace;
  font-size: 50px;
  text-align: center;
}

.abilites {
  flex: 1;
  max-width: inherit;
  display: block;
  text-align: center;
  overflow: auto;
}

.abilitesList {
  display: flex;
  justify-content: space-around;
  height: 200px;
  min-width: 900px;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
