@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&family=Ubuntu:wght@300;400&display=swap');
/* font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Mono', monospace; */
.containerProjects{
    flex: 1;
    background-color: #ff5555;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.projects{
    flex: 1;
    padding: 20px 10px 20px 10px;
    max-width: 1366px;
}
.projects h1{
    color: #f1fa8c	;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 50px;
    margin: 0px;
    padding-bottom: 20px;
}
.cardsList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}