@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&family=Ubuntu:wght@300;400&display=swap");
/* font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Mono', monospace; */
.containerProjects {
  flex: 1;
  background-color: #44475a;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 700px;
}
.containerProjects h1 {
  color: #f8f8f2;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-size: 50px;
  padding-bottom: 20px;
  margin-top: 33px;
}
.projectsToCenter {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.projects {
  width: 1367px;
  padding: 20px 10px 20px 10px;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

.cardsList {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit;
}

.galerryContainer {
  position: absolute;
  height: 680px;
  background-color: rgba(40, 42, 54, 0.589);
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 10px;
  z-index: 1;
}
.galerryContainer div {
  width: 800px;
}

@media only screen and (max-width: 600px) {
  .galerryContainer div {
    width: 300px;
  }
}
