.cardAbilitiesContainer {
  position: relative;
  margin: 0px;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 180px;
}

.card {
  background-color: #282a36;
  width: 100px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 1s;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  border: 1px solid #44475a;
}
.card:hover {
  background-color: #44475a;
  border: none;
  width: 120px;
  height: 160px;
  display: flex;
  transition: 0.5s;
  margin-bottom: 10px;
}

.card svg {
  margin-left: auto;
  margin-right: auto;
}
.card p {
  color: #f8f8f2;
  position: absolute;
  align-self: center;
  margin-top: 90%;
  font-size: 16px;
}
